body{
    width: 100%;
    height: 100%;
    margin:0;
    padding: 0;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar{
  width: 0;
      height: 0;
}

.gradient {
    width: 100%;
    height: 100%;
    background: linear-gradient(149deg, rgb(58, 204, 177) 0%, rgb(134, 85, 202) 42%, rgb(206, 50, 169) 72%, rgb(153, 85, 173) 100%);
    animation: gradient 10s infinite linear;
    background-size: 10000%;
}

@keyframes gradient {
    0% {
        background-position: 80% 0%;
    }
    50% {
        background-position: 20% 100%;
    }
    100% {
        background-position: 80% 0%;
    }
}

.header{
    display: flex;
    justify-content: baseline;
    margin-top: 3px;
    width: 1100px;
    height: 100px;
    background-color: rgb(253, 253, 253);
    border: 0px solid;
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
}

.img-home{
    display: flex;
    width: 50px;
    height: 50px;
    margin-left: 320px;
    margin-top: 22px;
}

.sections{
    display: flex;
    margin-left: 180px;
}

.sections-text{
    text-decoration: none;
    color: black;
    font-family: 'Rubik', sans-serif;
    margin-left: 15px;
    font-size: 10px;
}

.body-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: fit-content;
}

.f-content-div{
    display: flex;
    width: 1100px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border: 0px solid;
    border-radius: 12px;
    margin-top: 30px;
}

.img-content-div{
    border: 0px solid;
    border-radius: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    width: 350px;
    height: 350px;
}

.content-text{
    margin-top: 15px;
    margin-left: 20px;
    word-wrap: break-word;
}

.h-content-text,
.span-content-text{
    display: flex;
    font-family: 'Rubik', sans-serif;
    margin: 0;
}

.h-content-text{
    font-size: 28px;
    letter-spacing: .1rem;
}

.href-content{
  margin-top: 170px;
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.span-content-text{
  color: rgb(146, 146, 146);
    margin-top: 20px;
    font-size: 16px;
    letter-spacing: .0.8rem;
}

.footer{
    display: flex;
    width: 1100px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border: 0px solid;
    border-radius: 12px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    justify-content: baseline;
}

.socials-contacts-div{
    display: flex;
    justify-content: center;
    margin-left: 315px;
    margin-right: auto;
}

.socials-img-contacts{
  display: flex;
  margin-top: 7px;
    margin-left: 10px;
    width: 30px;
    height: 30px;
}

.contacts-div{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    width: 100%;
}

.text-contacts-div{
    margin-left: 10px;
    color: rgb(146, 146, 146);
}

.header-content{
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: baseline;
}

.img-header{
    width: 60px;
    height: 60px;
}

.text-header{
    margin-left: 20px;
    justify-content: center;
    flex-direction: column;
}

.upper-text-header,
.lower-text-header{
    display: flex;
    font-family: 'Rubik', sans-serif;
    margin: 0;
}

.upper-text-header{
    font-size: 36px;
}

.lower-text-header{
    font-size: 18px;
    color: rgb(156, 156, 156);
}
